# Data Cleaning

## Import Tools & Data Frame

- Import: Pandas, Seaborn, Matplotlib, Numpy.
- Import: attacks.csv
- View DataFrame

In [1]:
#Tools Import

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import rcParams
import re
pd.options.mode.chained_assignment = None

In [2]:
#Data Import 

df = pd.read_csv ('./data/attacks.csv', encoding='unicode_escape')

In [3]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Create new Data Frame to clean

- Delete irrelevant columns.
- Revise DataFrame & remove further columns if need be. 
- View shape and sample data

In [4]:
df_clean = pd.DataFrame(df)

In [5]:
df_clean.shape

(25723, 24)

In [6]:
#Drop irelavant columns 

df_clean = df_clean.drop(columns=["Unnamed: 23","Unnamed: 22","original order","Case Number.2","Case Number.1","href","href formula","pdf", "Investigator or Source", "Name"])

In [7]:
#We can see that the DF has 12 less columns 

df_clean.shape

(25723, 14)

In [8]:
#Revised DataFrame
df_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Interesting distinction between "Fatal (Y/N" & "Injury" in terms of fatalities

In [9]:
df_clean["Fatal (Y/N)"].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In [10]:
df_clean["Injury"].value_counts()

FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  82
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: Injury, Length: 3737, dtype: int64

In [11]:
#Drop further irelavant columns 

df_clean = df_clean.drop(columns=["Case Number","Type","Area","Location", "Time","Injury"])

In [12]:
#Revised DF

df_clean

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,25-Jun-2018,2018.0,USA,Paddling,F,57,N,White shark
1,18-Jun-2018,2018.0,USA,Standing,F,11,N,NaN
2,09-Jun-2018,2018.0,USA,Surfing,M,48,N,NaN
3,08-Jun-2018,2018.0,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,04-Jun-2018,2018.0,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:


df_clean['Date'].isna().sum()

19421

In [14]:
# Revised DF sample

df_clean.sample()

      Date  Year Country Activity Sex   Age Fatal (Y/N) Species
18819  NaN   NaN     NaN      NaN  NaN  NaN         NaN      NaN

## Incomplete data

- Count number of NaN
- Create new DF to clean 
- Action Clean

In [15]:
#Count of NaN under an entire DataFrame

df_clean.isnull().sum().sum()

162737

In [16]:
df_clean_nan = pd.DataFrame(df_clean)

In [17]:
#Removing rows with "all" nans

df_clean_nan.dropna(axis=0, inplace=True, how="all")

In [18]:
#Revised DF

df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,25-Jun-2018,2018.0,USA,Paddling,F,57,N,White shark
1,18-Jun-2018,2018.0,USA,Standing,F,11,N,NaN
2,09-Jun-2018,2018.0,USA,Surfing,M,48,N,NaN
3,08-Jun-2018,2018.0,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,04-Jun-2018,2018.0,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,AUSTRALIA,Diving,M,NaN,Y,NaN
6298,Before 1903,0.0,AUSTRALIA,Pearl diving,M,NaN,Y,NaN
6299,1900-1905,0.0,USA,Swimming,M,NaN,Y,NaN
6300,1883-1889,0.0,PANAMA,NaN,M,NaN,Y,NaN
6301,1845-1853,0.0,CEYLON (SRI LANKA),Swimming,M,15,Y,NaN

In [19]:
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,25-Jun-2018,2018.0,USA,Paddling,F,57,N,White shark
1,18-Jun-2018,2018.0,USA,Standing,F,11,N,NaN
2,09-Jun-2018,2018.0,USA,Surfing,M,48,N,NaN
3,08-Jun-2018,2018.0,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,04-Jun-2018,2018.0,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,AUSTRALIA,Diving,M,NaN,Y,NaN
6298,Before 1903,0.0,AUSTRALIA,Pearl diving,M,NaN,Y,NaN
6299,1900-1905,0.0,USA,Swimming,M,NaN,Y,NaN
6300,1883-1889,0.0,PANAMA,NaN,M,NaN,Y,NaN
6301,1845-1853,0.0,CEYLON (SRI LANKA),Swimming,M,15,Y,NaN

## Clean "Year"

- Refine the data subset so there are only 4 digit objects

In [20]:
year_counts = df_clean_nan["Year"].value_counts()
print(year_counts.to_string())

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
0.0       125
2013.0    122
2008.0    122
2009.0    120
2012.0    117
2007.0    112
2006.0    103
2005.0    103
2010.0    101
2000.0     97
1960.0     93
1959.0     93
2003.0     92
2004.0     92
2001.0     92
2002.0     88
1962.0     86
1961.0     78
1995.0     76
1964.0     66
1999.0     66
1998.0     65
1996.0     61
1963.0     61
1966.0     58
1997.0     57
1993.0     56
1992.0     56
1994.0     56
1988.0     55
1958.0     54
2018.0     53
1989.0     53
1956.0     51
1965.0     51
1983.0     50
1981.0     49
1975.0     49
1967.0     48
1968.0     47
1950.0     43
1955.0     43
1954.0     42
1970.0     42
1942.0     41
1984.0     41
1957.0     41
1982.0     40
1986.0     39
1976.0     39
1974.0     38
1990.0     38
1991.0     38
1929.0     38
1985.0     37
1953.0     36
1980.0     35
1987.0     35
1972.0     35
1935.0     32
1951.0     32
1936.0     32
1949.0     31
1944.0     31
1947.0     30
1969.0     30
1937.0     30
1931.0     29
1948.0     29
1952.0     29
1971.0     28
1943.0     28
1934.0     27
1973.0     27
1941.0     27
1932.0     27
1977.0     26
1928.0     26
1930.0     26
1946.0     26
1979.0     25
1916.0     25
1978.0     25
1939.0     25
1938.0     24
1940.0     24
1907.0     23
1933.0     22
1922.0     22
1898.0     21
1926.0     21
1906.0     21
1923.0     21
1899.0     20
1895.0     20
1927.0     19
1924.0     19
1909.0     18
1905.0     18
1914.0     18
1913.0     18
1890.0     17
1945.0     16
1911.0     16
1894.0     15
1888.0     15
1886.0     15
1920.0     15
1880.0     15
1902.0     15
1925.0     14
1864.0     14
1877.0     14
1919.0     14
1912.0     14
1904.0     14
1910.0     14
1900.0     13
1908.0     13
1883.0     13
1887.0     13
1878.0     13
1893.0     13
1921.0     12
1896.0     12
1915.0     12
1882.0     12
1874.0     12
1862.0     12
1892.0     11
1897.0     11
1863.0     11
1917.0     11
1852.0     10
1903.0     10
1847.0      9
1871.0      9
1876.0      9
1889.0      9
1881.0      9
1891.0      9
1885.0      9
1901.0      9
1872.0      8
1879.0      8
1853.0      8
1870.0      8
1884.0      7
1849.0      7
1855.0      7
1860.0      7
1845.0      6
1858.0      6
1868.0      6
1875.0      5
1861.0      5
1840.0      5
1826.0      5
1867.0      5
1918.0      5
1830.0      4
1837.0      4
1839.0      4
1844.0      4
1817.0      4
1848.0      4
1842.0      4
1856.0      4
1873.0      4
1865.0      4
1846.0      3
1827.0      3
1851.0      3
1700.0      3
1808.0      3
1829.0      3
1642.0      2
1776.0      2
1869.0      2
1850.0      2
1825.0      2
1866.0      2
1828.0      2
1832.0      2
1835.0      2
1836.0      2
1831.0      2
1803.0      2
1749.0      1
1755.0      1
1751.0      1
1753.0      1
1723.0      1
1748.0      1
1742.0      1
1758.0      1
1764.0      1
1767.0      1
1738.0      1
1733.0      1
1617.0      1
1721.0      1
1703.0      1
1638.0      1
1637.0      1
1595.0      1
1580.0      1
1555.0      1
1554.0      1
1543.0      1
500.0       1
77.0        1
5.0         1
1771.0      1
1791.0      1
1779.0      1
1807.0      1
1841.0      1
1857.0      1
1859.0      1
1834.0      1
1823.0      1
1822.0      1
1819.0      1
1818.0      1
1816.0      1
1812.0      1
1811.0      1
1810.0      1
1805.0      1
1780.0      1
1804.0      1
1802.0      1
1801.0      1
1800.0      1
1797.0      1
1792.0      1
1788.0      1
1787.0      1
1786.0      1
1785.0      1
1784.0      1
1783.0      1
1815.0      1

In [21]:
df_clean_nan.drop(df_clean_nan[df_clean_nan.Year < 1900].index, inplace=True)
df_clean_nan = df_clean_nan[df_clean_nan['Year'].notna()]

In [22]:
df_clean_nan["Year"].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1921.0     12
1917.0     11
1903.0     10
1901.0      9
1918.0      5
Name: Year, Length: 119, dtype: int64

In [23]:
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,25-Jun-2018,2018.0,USA,Paddling,F,57,N,White shark
1,18-Jun-2018,2018.0,USA,Standing,F,11,N,NaN
2,09-Jun-2018,2018.0,USA,Surfing,M,48,N,NaN
3,08-Jun-2018,2018.0,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,04-Jun-2018,2018.0,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
5559,14-Jul-1900,1900.0,USA,Hunting seashells,M,NaN,NaN,Questionable
5560,Late Jul-1900,1900.0,USA,,NaN,NaN,N,NaN
5561,28-Jan-1900,1900.0,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,Early 1900s,1900.0,USA,NaN,M,NaN,N,NaN
5563,Ca. 1900,1900.0,SOUTH AFRICA,Swimming,M,NaN,N,NaN

In [24]:
df_clean_nan["Year"] = df_clean_nan["Year"].astype("int")

In [25]:
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,25-Jun-2018,2018,USA,Paddling,F,57,N,White shark
1,18-Jun-2018,2018,USA,Standing,F,11,N,NaN
2,09-Jun-2018,2018,USA,Surfing,M,48,N,NaN
3,08-Jun-2018,2018,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,04-Jun-2018,2018,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
5559,14-Jul-1900,1900,USA,Hunting seashells,M,NaN,NaN,Questionable
5560,Late Jul-1900,1900,USA,,NaN,NaN,N,NaN
5561,28-Jan-1900,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,Early 1900s,1900,USA,NaN,M,NaN,N,NaN
5563,Ca. 1900,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

## Clean Titles 

- Remove spaces from "Sex " & "Species "

In [26]:
df_clean_nan.rename(columns={"Sex ":"Sex"},inplace=True)
df_clean_nan.rename(columns={"Species ":"Species"},inplace=True)

In [27]:
print(df_clean_nan.columns)

Index(['Date', 'Year', 'Country', 'Activity', 'Sex', 'Age', 'Fatal (Y/N)',
       'Species'],
      dtype='object')

# Clean "Fatal (Y/N)" Column

- We are only interested in Y/N

In [28]:
df_clean_nan["Fatal (Y/N)"]

0         N
1         N
2         N
3         N
4         N
       ...
5559    NaN
5560      N
5561      N
5562      N
5563      N
Name: Fatal (Y/N), Length: 5562, dtype: object

In [29]:
list(df_clean_nan["Fatal (Y/N)"])

['N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 nan,
 'N',
 'N',
 'N',
 'Y',
 'N',
 nan,
 'N',
 nan,
 'N',
 'Y',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'Y',
 'N',
 nan,
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'M',
 'N',
 'N',
 'Y',
 nan,
 'N',
 nan,
 'N',
 'N',
 nan,
 'N',
 'N',
 nan,
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 nan,
 'N',
 nan,
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 nan,
 nan,
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 nan,
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 nan,
 'Y',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 nan,
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'UNKNOWN',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 nan,
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 nan,
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 nan,
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'Y',
 nan,
 nan,
 'Y',
 'N',
 'N',
 nan,
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 '2017',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 nan,
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 ...]

In [30]:
df_clean_nan["Fatal (Y/N)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N '], dtype=object)

In [31]:
check = pd.DataFrame(df_clean_nan["Fatal (Y/N)"].value_counts())
check

         Fatal (Y/N)
N               4007
Y               1026
UNKNOWN           55
 N                 7
M                  1
2017               1
N                  1

In [32]:
df_clean_nan["Fatal (Y/N)"] = df_clean_nan["Fatal (Y/N)"].str.extract("^(Y|N)")
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,25-Jun-2018,2018,USA,Paddling,F,57,N,White shark
1,18-Jun-2018,2018,USA,Standing,F,11,N,NaN
2,09-Jun-2018,2018,USA,Surfing,M,48,N,NaN
3,08-Jun-2018,2018,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,04-Jun-2018,2018,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
5559,14-Jul-1900,1900,USA,Hunting seashells,M,NaN,NaN,Questionable
5560,Late Jul-1900,1900,USA,,NaN,NaN,N,NaN
5561,28-Jan-1900,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,Early 1900s,1900,USA,NaN,M,NaN,N,NaN
5563,Ca. 1900,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

## Clean "Sex"

In [33]:
df_clean_nan["Sex"]

0         F
1         F
2         M
3         M
4         M
       ...
5559      M
5560    NaN
5561      M
5562      M
5563      M
Name: Sex, Length: 5562, dtype: object

In [34]:
check_sex = pd.DataFrame(df_clean_nan["Sex"].value_counts())
check_sex

      Sex
M    4456
F     600
M       2
lli     1
N       1
.       1

In [35]:
df_clean_nan["Sex"] = df_clean_nan["Sex"].str.extract("^(F|M)")
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,25-Jun-2018,2018,USA,Paddling,F,57,N,White shark
1,18-Jun-2018,2018,USA,Standing,F,11,N,NaN
2,09-Jun-2018,2018,USA,Surfing,M,48,N,NaN
3,08-Jun-2018,2018,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,04-Jun-2018,2018,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
5559,14-Jul-1900,1900,USA,Hunting seashells,M,NaN,NaN,Questionable
5560,Late Jul-1900,1900,USA,,NaN,NaN,N,NaN
5561,28-Jan-1900,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,Early 1900s,1900,USA,NaN,M,NaN,N,NaN
5563,Ca. 1900,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

## Clean "Age"

In [36]:
df_clean_nan["Age"]

0        57
1        11
2        48
3       NaN
4       NaN
       ...
5559    NaN
5560    NaN
5561    NaN
5562    NaN
5563    NaN
Name: Age, Length: 5562, dtype: object

In [37]:
check_age = pd.DataFrame(df_clean_nan["Age"].value_counts())
check_age

                Age
17              149
18              144
20              138
19              136
16              136
...             ...
20?               1
 28               1
7      &    31    1
 30               1
31 or 33          1

[155 rows x 1 columns]

In [38]:
df_clean_nan["Age"] = df_clean_nan["Age"].str.extract('(\d{1,2})')
df_clean_nan["Age"].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '13', '42', '3', '8', '50',
       '16', '82', '73', '68', '51', '39', '58', '47', '61', '65', '36',
       '66', '43', '9', '72', '59', '6', '27', '64', '23', '71', '44',
       '62', '63', '70', '53', '77', '74', '5', '86', '84', '75', '87',
       '67', '1', '2', '81', '78'], dtype=object)

## Clean "Country"

- Review column 
- Capitalise objects

In [39]:
df_clean_nan["Country"]

0                USA
1                USA
2                USA
3          AUSTRALIA
4             MEXICO
            ...
5559             USA
5560             USA
5561       AUSTRALIA
5562             USA
5563    SOUTH AFRICA
Name: Country, Length: 5562, dtype: object

In [40]:
check_countries = pd.DataFrame(df_clean_nan["Country"].value_counts())
check_countries

                  Country
USA                  2083
AUSTRALIA            1180
SOUTH AFRICA          549
PAPUA NEW GUINEA      130
BRAZIL                108
...                   ...
WESTERN SAMOA           1
BANGLADESH              1
SOUTH CHINA SEA         1
NAMIBIA                 1
CYPRUS                  1

[178 rows x 1 columns]

In [41]:
check24=(df_clean_nan["Country"].value_counts())
print(check24.to_string())

USA                                      2083
AUSTRALIA                                1180
SOUTH AFRICA                              549
PAPUA NEW GUINEA                          130
BRAZIL                                    108
BAHAMAS                                   100
NEW ZEALAND                                97
MEXICO                                     78
ITALY                                      61
REUNION                                    58
PHILIPPINES                                57
NEW CALEDONIA                              51
FIJI                                       50
MOZAMBIQUE                                 42
SPAIN                                      33
EGYPT                                      32
JAPAN                                      31
CUBA                                       31
CROATIA                                    27
PANAMA                                     27
SOLOMON ISLANDS                            26
IRAN                                       25
HONG KONG                                  24
FRENCH POLYNESIA                           22
JAMAICA                                    19
INDONESIA                                  19
COSTA RICA                                 17
BERMUDA                                    14
GREECE                                     14
ENGLAND                                    14
TONGA                                      13
PACIFIC OCEAN                              13
VIETNAM                                    12
ATLANTIC OCEAN                             12
UNITED KINGDOM                             11
VANUATU                                    11
TURKEY                                     11
SENEGAL                                    11
INDIA                                      11
MARSHALL ISLANDS                           11
TAIWAN                                      9
NEW GUINEA                                  9
VENEZUELA                                   9
ECUADOR                                     9
COLUMBIA                                    9
SOUTH ATLANTIC OCEAN                        8
CHILE                                       8
TANZANIA                                    8
THAILAND                                    8
MAURITIUS                                   8
SOUTH KOREA                                 8
KENYA                                       8
SRI LANKA                                   8
IRAQ                                        8
CARIBBEAN SEA                               7
DOMINICAN REPUBLIC                          7
SCOTLAND                                    7
CANADA                                      7
ISRAEL                                      7
SAMOA                                       7
SOMALIA                                     6
OKINAWA                                     6
NORTH PACIFIC OCEAN                         6
NEW BRITAIN                                 6
CHINA                                       6
TURKS & CAICOS                              5
PALAU                                       5
MID ATLANTIC OCEAN                          5
MALAYSIA                                    5
INDIAN OCEAN                                5
SEYCHELLES                                  5
MADAGASCAR                                  5
SINGAPORE                                   4
NICARAGUA                                   4
MALTA                                       4
GUAM                                        4
AZORES                                      4
EL SALVADOR                                 4
RUSSIA                                      4
NORTH ATLANTIC OCEAN                        4
FRANCE                                      4
GRENADA                                     4
MONTENEGRO                                  3
TUNISIA                                     3
MICRONESIA                                  3
 TONGA                                      3
PORTUGAL                                    3
PERSIAN GULF                                3
LIBERIA                                     3
CAPE VERDE                                  3
AMERICAN SAMOA                              3
TRINIDAD & TOBAGO                           3
NIGERIA                                     2
SAUDI ARABIA                                2
Fiji                                        2
CENTRAL PACIFIC                             2
SUDAN                                       2
BELIZE                                      2
LIBYA                                       2
YEMEN                                       2
CAYMAN ISLANDS                              2
SIERRA LEONE                                2
PACIFIC OCEAN                               2
HONDURAS                                    2
UNITED ARAB EMIRATES (UAE)                  2
KIRIBATI                                    2
SOUTHWEST PACIFIC OCEAN                     2
HAITI                                       2
YEMEN                                       2
GUYANA                                      2
BARBADOS                                    2
ST HELENA, British overseas territory       2
JOHNSTON ISLAND                             2
UNITED ARAB EMIRATES                        2
SOUTH PACIFIC OCEAN                         2
SUDAN?                                      1
THE BALKANS                                 1
GUATEMALA                                   1
IRAN / IRAQ                                 1
NORTHERN MARIANA ISLANDS                    1
MARTINIQUE                                  1
NETHERLANDS ANTILLES                        1
ARGENTINA                                   1
MID-PACIFC OCEAN                            1
JAVA                                        1
MONACO                                      1
CRETE                                       1
FALKLAND ISLANDS                            1
REUNION ISLAND                              1
KUWAIT                                      1
IRELAND                                     1
SAN DOMINGO                                 1
ITALY / CROATIA                             1
 PHILIPPINES                                1
ICELAND                                     1
CURACAO                                     1
SLOVENIA                                    1
MAYOTTE                                     1
BAY OF BENGAL                               1
SOLOMON ISLANDS / VANUATU                   1
NORTH ATLANTIC OCEAN                        1
ST. MARTIN                                  1
GABON                                       1
ANDAMAN / NICOBAR ISLANDAS                  1
COMOROS                                     1
MEXICO                                      1
Seychelles                                  1
GRAND CAYMAN                                1
ST. MAARTIN                                 1
Sierra Leone                                1
GULF OF ADEN                                1
NORWAY                                      1
BRITISH VIRGIN ISLANDS                      1
NEVIS                                       1
ANTIGUA                                     1
PALESTINIAN TERRITORIES                     1
ARUBA                                       1
DIEGO GARCIA                                1
PUERTO RICO                                 1
URUGUAY                                     1
EGYPT / ISRAEL                              1
NORTHERN ARABIAN SEA                        1
FEDERATED STATES OF MICRONESIA              1
MALDIVE ISLANDS                             1
NICARAGUA                                   1
NORTH SEA                                   1
RED SEA / INDIAN OCEAN                      1
BRITISH WEST INDIES                         1
ADMIRALTY ISLANDS                           1
RED SEA                                     1
ANGOLA                                      1
MALDIVES                                    1
BRITISH ISLES                               1
WESTERN SAMOA                               1
BANGLADESH                                  1
SOUTH CHINA SEA                             1
NAMIBIA                                     1
CYPRUS                                      1

## Revising Countries 

- actioning string manipulation 
- Capitalise

In [42]:
df_countries = df_clean_nan["Country"]
df_countries = df_clean_nan["Country"].str.replace("ENGLAND", "UK")
df_countries = df_clean_nan["Country"].str.replace("ENGLAND ", "UK")


df_clean_nan["Country"] = df_countries

In [67]:
df_clean_nan["Country"] = df_clean_nan["Country"].str.replace("ENGLAND", "UK").replace("ST HELENA,British overseas territory", "ST HELENA").replace("UNITED KINGDOM","UK").replace("ST HELENA, British overseas territory","ST HELENA").replace("PALESTINIAN TERRITORIES","PALESTINIAN").replace("SCOTLAND","UK").replace("UNITED ARAB EMIRATES (UAE)","UAE").replace("AZORES","PORTUGAL").replace("PACIFIC OCEAN","OCEAN").replace("ATLANTIC OCEAN","OCEAN").replace("UNITED KINGDOM","UK").replace("SOUTH ATLANTIC OCEAN","OCEAN").replace("CARIBBEAN SEA","OCEAN").replace("NORTH PACIFIC OCEAN","OCEAN").replace("MID ATLANTIC OCEAN","OCEAN").replace("INDIAN OCEAN","OCEAN").replace("NORTH ATLANTIC OCEAN","OCEAN").replace(" TONGA","TONGA").replace("PERSIAN GULF","OCEAN").replace("Fiji","FIJI").replace("CENTRAL PACIFIC","OCEAN").replace("PACIFIC OCEAN","OCEAN").replace("SOUTHWEST PACIFIC OCEAN","OCEAN").replace("SOUTH PACIFIC OCEAN","OCEAN").replace("SUDAN?","SUDAN").replace("THE BALKANS","OCEAN").replace("IRAN / IRAQ","IRAN").replace("MID-PACIFC OCEAN","OCEAN").replace("ITALY / CROATIA","ITALY").replace(" PHILIPPINES","PHILIPPINES").replace("BAY OF BENGAL","OCEAN").replace("SOLOMON ISLANDS / VANUATU","SOLOMON ISLANDS").replace("NORTH ATLANTIC OCEAN","OCEAN").replace("ANDAMAN / NICOBAR ISLANDAS","ANDAMAN").replace("Seychelles","SEYCHELLES").replace("GULF OF ADEN","OCEAN").replace("EGYPT / ISRAEL","EGYPT").replace("NORTHERN ARABIAN SEA","OCEAN").replace("NORTH SEA","OCEAN").replace("RED SEA / INDIAN OCEAN","OCEAN").replace("RED SEA", "OCEAN").replace("BRITISH ISLES","UK").replace("SOUTH CHINA SEA", "OCEAN")

df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
1,jun,2018,USA,Standing,F,11,N,NaN
2,jun,2018,USA,Surfing,M,48,N,NaN
3,jun,2018,AUSTRALIA,Surfing,M,NaN,N,NaN
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
...,...,...,...,...,...,...,...,...
5559,jul,1900,USA,Hunting seashells,M,NaN,NaN,NaN
5560,NaN,1900,USA,,NaN,NaN,N,NaN
5561,jan,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,NaN,1900,USA,NaN,M,NaN,N,NaN
5563,NaN,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

## Clean "Date"

-Remove days & years

In [47]:
df_clean_nan.loc[:,"Date"]

0         25-Jun-2018
1         18-Jun-2018
2         09-Jun-2018
3         08-Jun-2018
4         04-Jun-2018
            ...
5559      14-Jul-1900
5560    Late Jul-1900
5561      28-Jan-1900
5562      Early 1900s
5563         Ca. 1900
Name: Date, Length: 5562, dtype: object

In [48]:
check_date = pd.DataFrame(df_clean_nan["Date"].value_counts())
check_date

             Date
1957           11
1942            9
1956            8
1950            7
1941            7
...           ...
04-Jul-1999     1
03-Jul-1999     1
19-Jun-1999     1
17-Jun-1999     1
Ca. 1900        1

[4772 rows x 1 columns]

In [49]:

df_clean_nan["Date"] = df_clean_nan["Date"].str.lower().str.extract(r'-(\w{3})-')
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
1,jun,2018,USA,Standing,F,11,N,NaN
2,jun,2018,USA,Surfing,M,48,N,NaN
3,jun,2018,AUSTRALIA,Surfing,M,NaN,N,2 m shark
4,jun,2018,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
5559,jul,1900,USA,Hunting seashells,M,NaN,NaN,Questionable
5560,NaN,1900,USA,,NaN,NaN,N,NaN
5561,jan,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,NaN,1900,USA,NaN,M,NaN,N,NaN
5563,NaN,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

# Clean "Species"

In [50]:
df_clean_nan["Species"].value_counts()

White shark                                           156
Shark involvement prior to death was not confirmed    105
Invalid                                                91
Shark involvement not confirmed                        86
Tiger shark                                            69
                                                     ...
White shark, 6m [20']                                   1
2.1 m to 2.4 m [7' to 8'] shark                         1
3' blacktip shark                                       1
1 m  shark                                              1
Tiger shark, 3.9 m                                      1
Name: Species, Length: 1504, dtype: int64

In [51]:
check_species = pd.DataFrame(df_clean_nan["Species"].value_counts())
check_species

                                                    Species
White shark                                             156
Shark involvement prior to death was not confirmed      105
Invalid                                                  91
Shark involvement not confirmed                          86
Tiger shark                                              69
...                                                     ...
White shark, 6m [20']                                     1
2.1 m to 2.4 m [7' to 8'] shark                           1
3' blacktip shark                                         1
1 m  shark                                                1
Tiger shark, 3.9 m                                        1

[1504 rows x 1 columns]

In [52]:
list(df_clean_nan["Species"])

['White shark',
 nan,
 nan,
 '2 m shark',
 'Tiger shark, 3m',
 nan,
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 nan,
 'Grey reef shark',
 nan,
 nan,
 'Invalid incident',
 'Tawny nurse shark, 2m',
 nan,
 'Shark involvement not confirmed',
 nan,
 'Tiger shark',
 nan,
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'Tiger shark',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 'Shark involvement not confirmed',
 '2 m shark',
 'Bull shark',
 'White shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 nan,
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'White shark, 3.5 m',
 'small shark',
 'Wobbegong shark?',
 'Tiger shark',
 nan,
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 nan,
 nan,
 '2 m shark',
 'Tiger shark',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 nan,
 nan,
 nan,
 nan,
 'White shark, 4.5 m',
 '2 m shark',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 'White shark, 3.5 m',
 'Questionable',
 "4' to 5' shark",
 nan,
 'Porbeagle, 1.5 m',
 nan,
 nan,
 nan,
 'White shark, 3.5m',
 "5' to 6' shark",
 nan,
 'White shark, 3 to 3.5m ',
 nan,
 nan,
 nan,
 'Nurse shark',
 nan,
 nan,
 'White shark, 3 m',
 nan,
 'Shark involvement questionable',
 nan,
 "White shark, 5' to 7'",
 "5' shark",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 nan,
 'A small shark',
 nan,
 nan,
 nan,
 nan,
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 'Shark involvement not confirmed',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 nan,
 'White shark',
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'White shark, 2.5 m',
 'Shark involvement prior to death not confirmed',
 'No shark invovlement ',
 nan,
 nan,
 "Bull shark, 4' to 5'",
 'Bull shark, 2m',
 nan,
 nan,
 nan,
 'White shark, 4 m',
 'Seven-gill shark',
 nan,
 '3m shark, probably a smooth hound',
 "8' shark",
 'Tiger shark',
 "3' shark",
 'Tiger shark',
 nan,
 nan,
 "9' shark",
 nan,
 'Shark involvement highly doubtful',
 nan,
 nan,
 nan,
 nan,
 nan,
 'No shark invovlement - it ws a publicity stunt',
 nan,
 'Shark involvement not confirmed',
 nan,
 'White shark',
 "Tiger shark, 12'",
 nan,
 nan,
 'Shark involvement prior to death not confirmed',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 "Bull shark, 5' to 7'",
 nan,
 nan,
 'White shark',
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 nan,
 nan,
 nan,
 nan,
 'Lemon shark pup',
 'Tiger shark',
 "White shark, female, 14'",
 'Caribbean reef shark',
 nan,
 nan,
 'Bull shark, 4 m',
 nan,
 nan,
 'Bull shark, 1 m',
 nan,
 'Shark involvement not confirmed',
 nan,
 'a small shark',
 'White shark, 4 m',
 nan,
 nan,
 'Shark involvement not confirmed',
 'Wobbegong shark, 2m',
 'White shark',
 'Broadnose sevengill shark, 1.5 m',
 'Tiger shark',
 nan,
 nan,
 nan,
 " 6' to 8' shark",
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 nan,
 'White shark, 3.5 m',
 nan,
 nan,
 nan,
 nan,
 nan,
 '2 m shark',
 nan,
 "3' to 4' shark",
 "Tiger shark, 10'",
 nan,
 nan,
 nan,
 nan,
 "White shark, 8' to 10'",
 'Invalid',
 "Bull shark, 6'",
 nan,
 'Bull shark, 3.5 m',
 nan,
 nan,
 "Tiger shark, 10' ",
 'Blacktip shark',
 'Blue shark',
 nan,
 'White shark',
 "Nurse shark, 4'",
 nan,
 nan,
 nan,
 "Bull shark, 6'",
 'reef shark, 1m',
 "Tiger shark, 10' ",
 nan,
 nan,
 "White shark, 10' to 12'",
 nan,
 "Lemon shark, 9'",
 'Angel shark',
 'White shark',
 'dogfish shark',
 'White shark',
 nan,
 'Tawny nurse shark',
 "3' to 4' shark",
 nan,
 "Caribbean reef shark, 4.5'",
 'White shark',
 "3' to 5' shark",
 nan,
 "3' to 4' shark",
 "5' shark",
 "3' to 4' shark",
 "3' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 nan,
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 '3 m shark',
 'White shark',
 nan,
 "5' shark",
 nan,
 "Bull shark, 4' to 5'",
 nan,
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 nan,
 "Mako shark, 1.5 m [5'] ",
 "Bull shark, 6'",
 nan,
 'White shark',
 'Wobbegong shark',
 'Grey reef shark, 2 m',
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Shark involvement not confirmed',
 "5' to 6' shark",
 nan,
 nan,
 nan,
 'Shark involvement not confirmed',
 nan,
 'Nurse shark, 2.5-ft',
 'Shark involvement not confirmed',
 nan,
 nan,
 nan,
 'Bronze whaler',
 'Sandtiger shark',
 nan,
 nan,
 nan,
 'No shark involvement',
 'No shark involvement',
 nan,
 nan,
 'Sandtiger shark',
 nan,
 "Reef shark, 5'",
 nan,
 'Bull sharks x 2',
 'Mako shark',
 "Tiger shark, 14'",
 'Wobbegong shark',
 'Blacktip shark',
 '3 m shark',
 'White shark, 3 m',
 "Silky shark, 6.5'",
 "9' shark",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 nan,
 'White shark, 3.5 m',
 'Bull shark',
 nan,
 'Galapagos shark',
 nan,
 nan,
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 'Shark involvement not confirmed',
 nan,
 "3' to 5' shark",
 nan,
 nan,
 nan,
 'White shark, 3 to 3.5m ',
 "5' shark",
 "Spinner shark, 5'",
 nan,
 'No shark involvement',
 "Tiger shark, 7'",
 'Hammerhead sp.',
 nan,
 "Tiger shark, 13' ",
 nan,
 nan,
 nan,
 "4' to 5' shark",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 nan,
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 "4' shark",
 nan,
 'Hammerhead shark',
 nan,
 nan,
 "6' shark",
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 'White shark, 2.5 m',
 "4' shark?",
 'small shark',
 'Tiger shark',
 "White shark, 11' to 12'",
 "White shark, 10' to 12' ",
 'Shark involvement not confirmed',
 nan,
 "4' shark",
 "3' shark",
 "White shark, 13'",
 'Shark involvement not confirmed',
 "Hammerhead shark. 6' to 7'",
 'White shark',
 nan,
 nan,
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 'Bull shark, 2m',
 'White shark',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 'No shark involvement',
 "6' shark",
 nan,
 'White shark',
 'White shark',
 "6' to 7' shark",
 nan,
 "4' to 5' shark",
 'Bull shark',
 'White shark',
 'Shark involvement not confirmed',
 'White shark, 2m to 3 m',
 "4' shark",
 'Wobbegong shark',
 nan,
 'Sandtiger shark',
 'White shark',
 'small shark',
 nan,
 nan,
 'Bull shark',
 'Bull shark',
 'Mako shark',
 "4' shark",
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 nan,
 nan,
 '1m to 1.2 m shark',
 nan,
 "5' shark",
 "6' shark",
 'Bull shark, 3.5 m',
 nan,
 'White shark',
 'White shark, 3.5 m',
 nan,
 '3- to 4-foot shark',
 'White shark, 6 m',
 'White shark, 3 m',
 'Blue shark, 8 to 9 feet',
 'Bull shark',
 nan,
 'Bull shark',
 'Shark involvement not cofirmed',
 'No shark involvement',
 'White shark, 4 m',
 'Mako shark',
 'Tiger shark, 8 to 12 feet',
 'Blacktip shark',
 nan,
 nan,
 'Blacktip Reef shark ',
 'White shark',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 '1.8 m shark',
 'Bull shark, 1.3 m',
 "4' shark",
 nan,
 nan,
 'White shark',
 'Shark involvement not confirmed',
 '5 m shark',
 '1.5 m shark',
 'No shark involvement',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 '"A small shark"',
 '2 m shark',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 "White shark, 8' to 10'",
 '1.5 m shark',
 'Goblin shark',
 'Tiger shark',
 nan,
 nan,
 nan,
 'White shark',
 'White shark',
 "2' shark",
 '1.5 m shark',
 nan,
 nan,
 "Tiger shark, 12'",
 nan,
 'Tiger shark',
 nan,
 nan,
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 nan,
 nan,
 'Blacktip shark',
 nan,
 'Blacktip shark',
 "White shark, 18' to 20'",
 'White shark',
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 nan,
 'Blacktip shark',
 'No shark involvement',
 "7' shark",
 'Bull shark',
 "White shark, 12' to 14'",
 "3' to 4' shark",
 nan,
 'Spinner shark',
 'Spinner shark or blacktip shark',
 'Shark involvement not confirmed',
 nan,
 'small shark',
 "4' to 6' shark",
 nan,
 "Bull shark, 4.5' ",
 "4' shark",
 'reef shark',
 " Bull shark, 8'",
 nan,
 "Bull shark, 9' to 10'",
 nan,
 " Bull shark, 5'",
 "4' tp 5' shark",
 nan,
 nan,
 nan,
 'White shark',
 'Shark involvement not confirmed',
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 nan,
 'Angel shark',
 "6' to 8' shark",
 "4' shark",
 'Shark involvement not confirmed',
 nan,
 nan,
 " White shark, 7' ",
 nan,
 "4' to 5' shark",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 nan,
 nan,
 ' Lemon shark, 3.5 m',
 nan,
 " Sandbar shark, 3' to 4'",
 'Bronze whaler shark, 1.5m',
 nan,
 nan,
 'Bull shark',
 nan,
 'Blacktip Reef shark ',
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 nan,
 " white shark, 15' ",
 nan,
 'Shark involvement not confirmed',
 'No shark involvement',
 "4' to 5' shark",
 'Cow shark',
 "3' shark",
 'reef shark?',
 nan,
 nan,
 'White shark',
 ' Raggedtooth shark, 2m',
 nan,
 nan,
 '3 m to 4 m white shark',
 'Shark involvement prior to death not confirmed',
 '2 m shark',
 "4' to 5' shark",
 nan,
 nan,
 nan,
 'No shark involvement',
 'Wobbegong shark',
 'Invalid',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 nan,
 nan,
 nan,
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 nan,
 'Oceanic whitetip shark',
 'White shark, 6 m',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 nan,
 "Tiger shark, 10' to 12'",
 "4' to 6' shark",
 ' Wobbegong shark, 1.6 to 1.8m ',
 nan,
 'Tiger shark, 3m ',
 nan,
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 'Wobbegong shark',
 "Whitetip reef shark, 4' to 6'",
 'Tiger shark',
 'Nurse shark?',
 'White shark',
 'White shark',
 "White shark, 8' to 10'",
 'Small bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bull shark',
 "3' shark",
 nan,
 "3' shark",
 "3' shark",
 nan,
 'Nurse shark',
 nan,
 "4' shark",
 'Blacktip shark',
 'Salmon shark',
 'No shark involvement',
 "Mako shark, 5'",
 nan,
 nan,
 nan,
 'White shark',
 'Tiger shark?',
 nan,
 "Bull shark, 8'",
 'Blacktip shark',
 "Bull shark, 6' to 8'",
 nan,
 nan,
 "6' shark",
 nan,
 "Tiger shark, 8' to 10' ",
 'Nurse shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Shark involvement not confirmed',
 nan,
 nan,
 'Shark involvement prior to death not confirmed',
 'White shark',
 "Possibly a Bull shark, 3'",
 "4' to 5' shark",
 "Tiger shark, 14'",
 nan,
 nan,
 nan,
 "4' to 5' shark",
 "Lemon shark, 4'",
 "6' shark",
 'Galapagos shark',
 nan,
 nan,
 nan,
 'Galapagos shark',
 'Invalid',
 'Bull shark',
 'a small shark',
 'Wobbegong, 2m',
 'Tiger shark',
 'Grey nurse shark, 3m',
 "3' shark",
 'Blue shark',
 'Bull shark',
 nan,
 'Possibly a blacktip reef shark',
 nan,
 'shark involvement not confirmed',
 "4' shark",
 'No shark involvement',
 nan,
 'Nurse shark',
 nan,
 'Raggedtooth shark, 1.5 m',
 nan,
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 nan,
 'White shark, 4m',
 'reef shark?',
 'reef shark?',
 "Blacktip shark, 4' to 5'",
 'Lemon shark',
 nan,
 'White shark, 5m',
 nan,
 nan,
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 nan,
 nan,
 '2.5 m shark',
 'Bull shark, 2m ',
 'Tiger shark',
 "Tiger shark, 6'",
 "10' shark",
 'Sandtiger shark',
 'Seven-gill shark',
 "Tiger shark, 10'",
 'No shark involvement',
 '2.5 m shark',
 "2' to 3' shark",
 "Tiger shark, 15'",
 "Tiger shark, 8'",
 'White shark',
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 nan,
 nan,
 "6' to 8' shark",
 'Shark involvement not confirmed',
 nan,
 nan,
 '2m shark',
 "5' shark",
 "4' shark",
 nan,
 'Possibly a 3 m bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 "3.5' to 4' shark",
 "Tiger shark, 10' to 12' ",
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 nan,
 nan,
 nan,
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Bull shark',
 'Lemon shark, 2.5m to 3m ',
 nan,
 'White shark or bronze whaler',
 nan,
 'Thought to involve a white shark',
 'Shark involvement not confirmed',
 nan,
 nan,
 'Salmon shark suspected, but unlikely',
 'White shark, 5m',
 nan,
 nan,
 nan,
 "14' to 18'shark",
 "15' shark",
 'No shark involvement',
 'possibly a bull shark',
 nan,
 'a small reef shark',
 nan,
 nan,
 '3 m shark',
 'No shark involvement',
 nan,
 'Nurse shark',
 'small blacktip shark?',
 'Shark involvement not confirmed',
 'small blacktip shark?',
 'Blacktip shark ',
 '1.5 m shark',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 nan,
 nan,
 '18" to 24" shark',
 'Bull shark, 3m',
 "4' to 5' shark",
 "Tiger shark, 8' to 9' ",
 nan,
 'White shark',
 nan,
 'White shark',
 "5' shark",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'a small shark',
 'White shark, 4m ',
 nan,
 'White shark',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 "4' to 5' shark",
 "4' to 5' shark",
 nan,
 'Tawny nurse shark, 40cm',
 nan,
 "4' shark",
 nan,
 nan,
 'Spinner shark',
 'Grey nurse shark',
 'White shark, 7m',
 nan,
 "6' to 8' shark",
 'Tiger shark, 3m',
 'Tiger shark',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Thought to involve a bull shark',
 'White shark',
 '2 m shark',
 'Allegedly a 4 m tiger shark',
 nan,
 'Shark involvement not confirmed',
 nan,
 nan,
 "7' to 8' shark ",
 nan,
 'White shark, 2.5m',
 'Shark involvement not confirmed',
 'Wobbegong shark',
 nan,
 'Shark involvement not confirmed',
 nan,
 nan,
 'Wobbegong shark?',
 "White shark, 15' to 16'",
 nan,
 nan,
 nan,
 'White shark',
 "8' to 10' shark",
 'Raggedtooth shark',
 "White shark, 10'",
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "3' shark",
 "10' to 12' shark",
 nan,
 '2 to 2.5 m shark',
 nan,
 nan,
 'No shark involvement',
 nan,
 'White shark',
 "Bull shark, 6'",
 nan,
 nan,
 nan,
 nan,
 "4' to 6' shark",
 nan,
 'Tiger shark, 2m',
 nan,
 'White shark',
 "6' shark, possibly a blactip or spinner shark",
 "6' shark",
 'Shark involvement prior to death not confirmed',
 nan,
 nan,
 nan,
 nan,
 "White shark, >6'",
 nan,
 "Possibly a 5' to 6' sandtiger shark",
 'Shark involvement not confirmed',
 '4 m shark',
 'Grey reef shark ',
 nan,
 "Bull shark, 6'",
 'Shark involvement not confirmed',
 nan,
 nan,
 'Shark involvement prior to death not confirmed',
 nan,
 nan,
 'White shark, 3m to 4m',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bull shark, 3m female',
 "Bull shark, 6'",
 "White shark, 5' k",
 nan,
 "5' shark",
 nan,
 nan,
 "Oceanic whitetip shark, 7'",
 "Blacktip shark, 4'",
 nan,
 "Sevengill shark, 6' to 8'",
 "3' to 4' shark",
 'Blacktip reef shark ',
 nan,
 'White shark',
 "Tiger shark, 10'",
 'Tiger shark',
 'Zambesi shark',
 nan,
 ' Tiger shark, 2.8m',
 nan,
 "Sandbar shark, 8'",
 'Invalid',
 nan,
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 nan,
 'Blacktip shark pup',
 'Bull shark',
 'Bull shark, 2.5m',
 nan,
 nan,
 '3 m to 4 m shark',
 nan,
 nan,
 'Bull shark, 2m',
 '1.5 m shark',
 nan,
 'White shark x 2',
 '1 m shark',
 nan,
 nan,
 nan,
 "6' shark",
 nan,
 'Caribbean reef shark',
 'Shark involvement not confirmed',
 nan,
 nan,
 'White shark',
 "6' shark",
 nan,
 nan,
 'Oceanic whitetip shark, 2.5m ',
 nan,
 'Mako shark ',
 'Mako shark',
 'Oceanic whitetip shark, 2.5m, female',
 'Oceanic whitetip shark, 2.5m, female',
 nan,
 'Shark involvement not confirmed',
 nan,
 nan,
 nan,
 'White shark',
 'White shark',
 nan,
 nan,
 nan,
 "Porbeagle shark, 8' ",
 nan,
 "White shark, 14' to 18' ",
 nan,
 'Bull shark, 1.4m ',
 'Lemon shark',
 "Possibly a 6' lemon shark",
 nan,
 'White shark',
 nan,
 'White shark',
 '2m shark',
 "3' shark",
 nan,
 nan,
 nan,
 nan,
 nan,
 'Shark involvement prior to death was not confirmed',
 nan,
 'White shark',
 'White shark',
 nan,
 nan,
 nan,
 ...]

In [53]:
df_clean_nan["Species"] = df_clean_nan["Species"].str.extract(r"([A-Z|a-z]{2,}\sshark)")
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
1,jun,2018,USA,Standing,F,11,N,NaN
2,jun,2018,USA,Surfing,M,48,N,NaN
3,jun,2018,AUSTRALIA,Surfing,M,NaN,N,NaN
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
...,...,...,...,...,...,...,...,...
5559,jul,1900,USA,Hunting seashells,M,NaN,NaN,NaN
5560,NaN,1900,USA,,NaN,NaN,N,NaN
5561,jan,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,NaN,1900,USA,NaN,M,NaN,N,NaN
5563,NaN,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

In [54]:
list(df_clean_nan["Species"])

['White shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 'Tiger shark',
 'Lemon shark',
 'Bull shark',
 nan,
 'reef shark',
 nan,
 nan,
 nan,
 'nurse shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 nan,
 nan,
 'White shark',
 'Tiger shark',
 'White shark',
 nan,
 'bull shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 nan,
 'Bull shark',
 'White shark',
 'Tiger shark',
 'Wobbegong shark',
 nan,
 nan,
 'Blacktip shark',
 'white shark',
 nan,
 'Bull shark',
 nan,
 nan,
 'Galapagos shark',
 nan,
 'Bull shark',
 'Bull shark',
 'reef shark',
 'White shark',
 'small shark',
 'Wobbegong shark',
 'Tiger shark',
 nan,
 'nurse shark',
 'Nurse shark',
 'Tiger shark',
 'Tiger shark',
 'blue shark',
 'White shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 'Cookiecutter shark',
 'Wobbegong shark',
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'Spinner shark',
 'Tiger shark',
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 'Nurse shark',
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'blacktip shark',
 'whitetip shark',
 nan,
 'White shark',
 nan,
 'small shark',
 nan,
 nan,
 nan,
 nan,
 'Sandtiger shark',
 'Blue shark',
 'small shark',
 nan,
 'White shark',
 'White shark',
 'White shark',
 nan,
 'White shark',
 'Bull shark',
 'Tiger shark',
 'White shark',
 nan,
 'No shark',
 nan,
 nan,
 'Bull shark',
 'Bull shark',
 nan,
 nan,
 nan,
 'White shark',
 'gill shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'No shark',
 nan,
 nan,
 nan,
 'White shark',
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 nan,
 'White shark',
 nan,
 'Lemon shark',
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 'Lemon shark',
 'Tiger shark',
 'White shark',
 'reef shark',
 nan,
 nan,
 'Bull shark',
 nan,
 nan,
 'Bull shark',
 nan,
 nan,
 nan,
 'small shark',
 'White shark',
 nan,
 nan,
 nan,
 'Wobbegong shark',
 'White shark',
 'sevengill shark',
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'Bull shark',
 nan,
 'Bull shark',
 nan,
 nan,
 'Tiger shark',
 'Blacktip shark',
 'Blue shark',
 nan,
 'White shark',
 'Nurse shark',
 nan,
 nan,
 nan,
 'Bull shark',
 'reef shark',
 'Tiger shark',
 nan,
 nan,
 'White shark',
 nan,
 'Lemon shark',
 'Angel shark',
 'White shark',
 'dogfish shark',
 'White shark',
 nan,
 'nurse shark',
 nan,
 nan,
 'reef shark',
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mako shark',
 'whaler shark',
 nan,
 'White shark',
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 'Blacktip shark',
 'Nurse shark',
 nan,
 'Mako shark',
 'Bull shark',
 nan,
 'White shark',
 'Wobbegong shark',
 'reef shark',
 'reef shark',
 'Bull shark',
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Nurse shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Sandtiger shark',
 nan,
 nan,
 nan,
 'No shark',
 'No shark',
 nan,
 nan,
 'Sandtiger shark',
 nan,
 'Reef shark',
 nan,
 'Bull shark',
 'Mako shark',
 'Tiger shark',
 'Wobbegong shark',
 'Blacktip shark',
 nan,
 'White shark',
 'Silky shark',
 nan,
 'whaler shark',
 'Tiger shark',
 nan,
 'White shark',
 'Bull shark',
 nan,
 'Galapagos shark',
 nan,
 nan,
 'Spinner shark',
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'Spinner shark',
 nan,
 'No shark',
 'Tiger shark',
 nan,
 nan,
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 'Blacktip shark',
 'Blacktip shark',
 nan,
 'White shark',
 'juvenile shark',
 'Tiger shark',
 nan,
 nan,
 'Hammerhead shark',
 nan,
 nan,
 nan,
 'White shark',
 'Hammerhead shark',
 'White shark',
 nan,
 'small shark',
 'Tiger shark',
 'White shark',
 'White shark',
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'Hammerhead shark',
 'White shark',
 nan,
 nan,
 'spinner shark',
 'but shark',
 'White shark',
 'Mako shark',
 'whaler shark',
 'Bull shark',
 'White shark',
 'White shark',
 nan,
 'No shark',
 nan,
 nan,
 'White shark',
 'White shark',
 nan,
 nan,
 nan,
 'Bull shark',
 'White shark',
 nan,
 'White shark',
 nan,
 'Wobbegong shark',
 nan,
 'Sandtiger shark',
 'White shark',
 'small shark',
 nan,
 nan,
 'Bull shark',
 'Bull shark',
 'Mako shark',
 nan,
 'Bull shark',
 'nurse shark',
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 'White shark',
 'White shark',
 nan,
 'foot shark',
 'White shark',
 'White shark',
 'Blue shark',
 'Bull shark',
 nan,
 'Bull shark',
 nan,
 'No shark',
 'White shark',
 'Mako shark',
 'Tiger shark',
 'Blacktip shark',
 nan,
 nan,
 'Reef shark',
 'White shark',
 'Tiger shark',
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 'No shark',
 'White shark',
 'Raggedtooth shark',
 'small shark',
 nan,
 'White shark',
 nan,
 nan,
 'White shark',
 nan,
 'Goblin shark',
 'Tiger shark',
 nan,
 nan,
 nan,
 'White shark',
 'White shark',
 nan,
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 nan,
 'Blacktip shark',
 nan,
 'Blacktip shark',
 'White shark',
 'White shark',
 nan,
 'white shark',
 nan,
 'Blacktip shark',
 'No shark',
 nan,
 'Bull shark',
 'White shark',
 nan,
 nan,
 'Spinner shark',
 'Spinner shark',
 nan,
 nan,
 'small shark',
 nan,
 nan,
 'Bull shark',
 nan,
 'reef shark',
 'Bull shark',
 nan,
 'Bull shark',
 nan,
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'tiger shark',
 'metre shark',
 nan,
 'Angel shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 'whitetip shark',
 'reef shark',
 nan,
 nan,
 'Lemon shark',
 nan,
 'Sandbar shark',
 'whaler shark',
 nan,
 nan,
 'Bull shark',
 nan,
 'Reef shark',
 'Bull shark',
 nan,
 'nurse shark',
 nan,
 'white shark',
 nan,
 nan,
 'No shark',
 nan,
 'Cow shark',
 nan,
 'reef shark',
 nan,
 nan,
 'White shark',
 'Raggedtooth shark',
 nan,
 nan,
 'white shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'No shark',
 'Wobbegong shark',
 nan,
 'spinner shark',
 'reef shark',
 nan,
 nan,
 nan,
 'gill shark',
 nan,
 'gill shark',
 nan,
 'whitetip shark',
 'White shark',
 'bull shark',
 'White shark',
 nan,
 'Tiger shark',
 nan,
 'Wobbegong shark',
 nan,
 'Tiger shark',
 nan,
 'white shark',
 'White shark',
 'white shark',
 nan,
 nan,
 nan,
 'Tiger shark',
 'reef shark',
 'bull shark',
 'white shark',
 'Wobbegong shark',
 'reef shark',
 'Tiger shark',
 'Nurse shark',
 'White shark',
 'White shark',
 'White shark',
 'bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Nurse shark',
 nan,
 nan,
 'Blacktip shark',
 'Salmon shark',
 'No shark',
 'Mako shark',
 nan,
 nan,
 nan,
 'White shark',
 'Tiger shark',
 nan,
 'Bull shark',
 'Blacktip shark',
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 'Tiger shark',
 'Nurse shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 'Bull shark',
 nan,
 'Tiger shark',
 nan,
 nan,
 nan,
 nan,
 'Lemon shark',
 nan,
 'Galapagos shark',
 nan,
 nan,
 nan,
 'Galapagos shark',
 nan,
 'Bull shark',
 'small shark',
 nan,
 'Tiger shark',
 'nurse shark',
 nan,
 'Blue shark',
 'Bull shark',
 nan,
 'reef shark',
 nan,
 nan,
 nan,
 'No shark',
 nan,
 'Nurse shark',
 nan,
 'Raggedtooth shark',
 nan,
 'Tiger shark',
 'whaler shark',
 'small shark',
 nan,
 'White shark',
 'reef shark',
 'reef shark',
 'Blacktip shark',
 'Lemon shark',
 nan,
 'White shark',
 nan,
 nan,
 'Tiger shark',
 'whaler shark',
 nan,
 nan,
 nan,
 'Bull shark',
 'Tiger shark',
 'Tiger shark',
 nan,
 'Sandtiger shark',
 'gill shark',
 'Tiger shark',
 'No shark',
 nan,
 nan,
 'Tiger shark',
 'Tiger shark',
 'White shark',
 'Tiger shark',
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 'Porbeagle shark',
 nan,
 nan,
 nan,
 nan,
 'Lemon shark',
 'Bull shark',
 'Lemon shark',
 nan,
 'White shark',
 nan,
 'white shark',
 nan,
 nan,
 nan,
 'Salmon shark',
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'No shark',
 'bull shark',
 nan,
 'reef shark',
 nan,
 nan,
 nan,
 'No shark',
 nan,
 'Nurse shark',
 'blacktip shark',
 nan,
 'blacktip shark',
 'Blacktip shark',
 nan,
 'Blue shark',
 'White shark',
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 'Tiger shark',
 nan,
 'White shark',
 nan,
 'White shark',
 nan,
 'White shark',
 'White shark',
 'Tiger shark',
 'small shark',
 'White shark',
 nan,
 'White shark',
 'bull shark',
 'bull shark',
 nan,
 nan,
 nan,
 'nurse shark',
 nan,
 nan,
 nan,
 nan,
 'Spinner shark',
 'nurse shark',
 'White shark',
 nan,
 nan,
 'Tiger shark',
 'Tiger shark',
 'Blue shark',
 'White shark',
 'bull shark',
 'White shark',
 nan,
 'tiger shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'Wobbegong shark',
 nan,
 nan,
 nan,
 nan,
 'Wobbegong shark',
 'White shark',
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'Raggedtooth shark',
 'White shark',
 'White shark',
 'Jackson shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'No shark',
 nan,
 'White shark',
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Tiger shark',
 nan,
 'White shark',
 'spinner shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 'sandtiger shark',
 nan,
 nan,
 'reef shark',
 nan,
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bull shark',
 'Bull shark',
 'White shark',
 nan,
 nan,
 nan,
 nan,
 'whitetip shark',
 'Blacktip shark',
 nan,
 'Sevengill shark',
 nan,
 'reef shark',
 nan,
 'White shark',
 'Tiger shark',
 'Tiger shark',
 'Zambesi shark',
 nan,
 'Tiger shark',
 nan,
 'Sandbar shark',
 nan,
 nan,
 'Bull shark',
 'reef shark',
 nan,
 'whaler shark',
 'Bull shark',
 nan,
 'Blacktip shark',
 'Bull shark',
 'Bull shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bull shark',
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'reef shark',
 nan,
 nan,
 nan,
 'White shark',
 nan,
 nan,
 nan,
 'whitetip shark',
 nan,
 'Mako shark',
 'Mako shark',
 'whitetip shark',
 'whitetip shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 'White shark',
 nan,
 nan,
 nan,
 'Porbeagle shark',
 nan,
 'White shark',
 nan,
 'Bull shark',
 'Lemon shark',
 'lemon shark',
 nan,
 'White shark',
 nan,
 'White shark',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'White shark',
 'White shark',
 nan,
 nan,
 nan,
 ...]

In [55]:
check_species = pd.DataFrame(df_clean_nan["Species"].value_counts())
check_species.head(25)

                   Species
White shark            423
Tiger shark            230
white shark            197
Bull shark             123
whaler shark            64
reef shark              62
small shark             52
bull shark              47
nurse shark             47
Nurse shark             47
Wobbegong shark         46
Mako shark              44
Raggedtooth shark       43
Blacktip shark          33
Lemon shark             32
spinner shark           31
Zambesi shark           29
Blue shark              29
blacktip shark          28
whitetip shark          23
No shark                23
tiger shark             22
Hammerhead shark        21
hammerhead shark        19
lb shark                17

In [68]:
df_clean_nan["Species"] = df_clean_nan["Species"].str.replace("white shark", "White shark").replace("whaler shark", "Whaler shark").replace("reef shark","Reef shark").replace("bull shark","Bull shark").replace("nurse shark","Nurse shark").replace("spinner shark","Spinner shark").replace("blacktip shark","Blacktip shark").replace("whitetip shark","Whitetip shark").replace("tiger shark","Tiger shark").replace("hammerhead shark","Hammerhead shark").replace("small shark","Unidentified Shark Type")
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
1,jun,2018,USA,Standing,F,11,N,NaN
2,jun,2018,USA,Surfing,M,48,N,NaN
3,jun,2018,AUSTRALIA,Surfing,M,NaN,N,NaN
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
...,...,...,...,...,...,...,...,...
5559,jul,1900,USA,Hunting seashells,M,NaN,NaN,NaN
5560,NaN,1900,USA,,NaN,NaN,N,NaN
5561,jan,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,NaN,1900,USA,NaN,M,NaN,N,NaN
5563,NaN,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

In [57]:
check26=(df_clean_nan["Species"].value_counts())
print(check26.to_string())

White shark                620
Tiger shark                252
Bull shark                 170
Nurse shark                 94
Whaler shark                66
Reef shark                  65
Blacktip shark              61
Unidentified Shark Type     52
Wobbegong shark             46
Spinner shark               44
Mako shark                  44
Raggedtooth shark           43
Hammerhead shark            40
Lemon shark                 32
Blue shark                  29
Zambesi shark               29
Whitetip shark              23
No shark                    23
lb shark                    17
Sandtiger shark             14
sand shark                  13
kg shark                    11
blue shark                  10
dusky shark                  9
mako shark                   8
Sevengill shark              7
Angel shark                  6
gill shark                   6
sandtiger shark              6
colored shark                6
Galapagos shark              6
juvenile shark               5
Carpet shark                 5
lemon shark                  5
Basking shark                5
dog shark                    5
Dusky shark                  5
foot shark                   4
brown shark                  4
Porbeagle shark              4
of shark                     4
carpet shark                 3
Zambezi shark                3
sandbar shark                3
Sand shark                   3
copper shark                 3
Sandbar shark                3
sevengill shark              3
Salmon shark                 3
Small shark                  2
grey shark                   2
Leopard shark                2
large shark                  2
silky shark                  2
nose shark                   2
Two shark                    2
captive shark                2
as shark                     2
Silky shark                  2
Copper shark                 2
Thresher shark               2
Goblin shark                 2
Several shark                1
larger shark                 1
carcharinid shark            1
another shark                1
hooked shark                 1
banjo shark                  1
smoothhound shark            1
little shark                 1
Bonita shark                 1
dogfish shark                1
leopard shark                1
Shovelnose shark             1
nosed shark                  1
Cookiecutter shark           1
cocktail shark               1
carcharhinid shark           1
whiptail shark               1
the shark                    1
saw shark                    1
red shark                    1
thresher shark               1
for shark                    1
Dog shark                    1
cutter shark                 1
whale shark                  1
same shark                   1
Jackson shark                1
Cow shark                    1
cow shark                    1
bonnethed shark              1
finned shark                 1
metre shark                  1
Soupfin shark                1
young shark                  1
Unidentified shark           1
female shark                 1
gaffed shark                 1
silvertip shark              1
but shark                    1
gray shark                   1
Whale shark                  1
porbeagle shark              1
from shark                   1

In [92]:
df_clean_nan = df_clean_nan[df_clean_nan["Species"]!= "No shark"]

In [93]:
check26=(df_clean_nan["Species"].value_counts())
print(check26.to_string())

White shark                620
Tiger shark                252
Bull shark                 170
Nurse shark                 94
Whaler shark                66
Reef shark                  65
Blacktip shark              61
Unidentified Shark Type     52
Wobbegong shark             46
Mako shark                  44
Spinner shark               44
Raggedtooth shark           43
Hammerhead shark            40
Lemon shark                 32
Blue shark                  29
Zambesi shark               29
Whitetip shark              23
lb shark                    17
Sandtiger shark             14
sand shark                  13
kg shark                    11
blue shark                  10
dusky shark                  9
mako shark                   8
Sevengill shark              7
colored shark                6
gill shark                   6
Galapagos shark              6
sandtiger shark              6
Angel shark                  6
juvenile shark               5
Carpet shark                 5
dog shark                    5
Basking shark                5
Dusky shark                  5
lemon shark                  5
of shark                     4
brown shark                  4
Porbeagle shark              4
foot shark                   4
Zambezi shark                3
Sand shark                   3
sevengill shark              3
copper shark                 3
sandbar shark                3
Sandbar shark                3
carpet shark                 3
Salmon shark                 3
as shark                     2
nose shark                   2
Copper shark                 2
silky shark                  2
Thresher shark               2
Silky shark                  2
Two shark                    2
grey shark                   2
Leopard shark                2
Small shark                  2
large shark                  2
captive shark                2
Goblin shark                 2
carcharinid shark            1
red shark                    1
whiptail shark               1
banjo shark                  1
hooked shark                 1
larger shark                 1
Several shark                1
cocktail shark               1
Cookiecutter shark           1
Shovelnose shark             1
for shark                    1
nosed shark                  1
saw shark                    1
the shark                    1
little shark                 1
carcharhinid shark           1
Bonita shark                 1
leopard shark                1
another shark                1
Jackson shark                1
Dog shark                    1
but shark                    1
whale shark                  1
cutter shark                 1
smoothhound shark            1
Cow shark                    1
same shark                   1
metre shark                  1
cow shark                    1
bonnethed shark              1
finned shark                 1
Soupfin shark                1
porbeagle shark              1
young shark                  1
Unidentified shark           1
female shark                 1
gaffed shark                 1
silvertip shark              1
gray shark                   1
thresher shark               1
Whale shark                  1
dogfish shark                1
from shark                   1

In [94]:
df_clean_nan.dtypes

Date           object
Year            int64
Country        object
Activity       object
Sex            object
Age            object
Fatal (Y/N)    object
Species        object
dtype: object

In [95]:
dftop20 = df_clean_nan["Species"].value_counts().loc[lambda x: x>20].index
dftop20

Index(['White shark', 'Tiger shark', 'Bull shark', 'Nurse shark',
       'Whaler shark', 'Reef shark', 'Blacktip shark',
       'Unidentified Shark Type', 'Wobbegong shark', 'Mako shark',
       'Spinner shark', 'Raggedtooth shark', 'Hammerhead shark', 'Lemon shark',
       'Blue shark', 'Zambesi shark', 'Whitetip shark'],
      dtype='object')

In [96]:
new_df = df_clean_nan[df_clean_nan['Species'].isin(dftop20)]
new_df

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
6,jun,2018,BRAZIL,Swimming,M,18,Y,Tiger shark
7,may,2018,USA,Fishing,M,52,N,Lemon shark
8,may,2018,USA,Walking,M,15,N,Bull shark
...,...,...,...,...,...,...,...,...
5441,dec,1907,AUSTRALIA,Bathing,M,NaN,Y,Bull shark
5458,mar,1907,MALTA,Fishing,M,NaN,Y,White shark
5489,aug,1905,EGYPT,Human head found in shark caught by British st...,M,NaN,NaN,Tiger shark
5524,jan,1903,AUSTRALIA,NaN,M,NaN,Y,Bull shark
5545,jul,1901,SOUTH AFRICA,Swimming,M,29,Y,White shark

In [97]:
new_df.Species.unique()

array(['White shark', 'Tiger shark', 'Lemon shark', 'Bull shark',
       'Reef shark', 'Nurse shark', 'Wobbegong shark', 'Blacktip shark',
       'Unidentified Shark Type', 'Spinner shark', 'Whitetip shark',
       'Blue shark', 'Mako shark', 'Whaler shark', 'Hammerhead shark',
       'Raggedtooth shark', 'Zambesi shark'], dtype=object)

In [98]:
new_df

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
6,jun,2018,BRAZIL,Swimming,M,18,Y,Tiger shark
7,may,2018,USA,Fishing,M,52,N,Lemon shark
8,may,2018,USA,Walking,M,15,N,Bull shark
...,...,...,...,...,...,...,...,...
5441,dec,1907,AUSTRALIA,Bathing,M,NaN,Y,Bull shark
5458,mar,1907,MALTA,Fishing,M,NaN,Y,White shark
5489,aug,1905,EGYPT,Human head found in shark caught by British st...,M,NaN,NaN,Tiger shark
5524,jan,1903,AUSTRALIA,NaN,M,NaN,Y,Bull shark
5545,jul,1901,SOUTH AFRICA,Swimming,M,29,Y,White shark

In [99]:
new_df

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
6,jun,2018,BRAZIL,Swimming,M,18,Y,Tiger shark
7,may,2018,USA,Fishing,M,52,N,Lemon shark
8,may,2018,USA,Walking,M,15,N,Bull shark
...,...,...,...,...,...,...,...,...
5441,dec,1907,AUSTRALIA,Bathing,M,NaN,Y,Bull shark
5458,mar,1907,MALTA,Fishing,M,NaN,Y,White shark
5489,aug,1905,EGYPT,Human head found in shark caught by British st...,M,NaN,NaN,Tiger shark
5524,jan,1903,AUSTRALIA,NaN,M,NaN,Y,Bull shark
5545,jul,1901,SOUTH AFRICA,Swimming,M,29,Y,White shark

In [100]:
dftop20 = df_clean_nan["Species"]

In [101]:
dftop20

0       White shark
1               NaN
2               NaN
3               NaN
4       Tiger shark
           ...
5559            NaN
5560            NaN
5561            NaN
5562            NaN
5563            NaN
Name: Species, Length: 5539, dtype: object

In [102]:
df_clean_nan

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
1,jun,2018,USA,Standing,F,11,N,NaN
2,jun,2018,USA,Surfing,M,48,N,NaN
3,jun,2018,AUSTRALIA,Surfing,M,NaN,N,NaN
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
...,...,...,...,...,...,...,...,...
5559,jul,1900,USA,Hunting seashells,M,NaN,NaN,NaN
5560,NaN,1900,USA,,NaN,NaN,N,NaN
5561,jan,1900,AUSTRALIA,"Standing, gathering oysters",M,NaN,N,NaN
5562,NaN,1900,USA,NaN,M,NaN,N,NaN
5563,NaN,1900,SOUTH AFRICA,Swimming,M,NaN,N,NaN

## Clean "Activities"

- Activity groups: Surfing, Swimming, Paddle Sports, Scuba Diving, Fishing, Wind Sports, Beach Activities

In [103]:
check_activity = pd.DataFrame(new_df["Activity"].value_counts())
check_activity

                                                    Activity
Surfing                                                  337
Swimming                                                 185
Spearfishing                                             172
Fishing                                                  121
Snorkeling                                                47
...                                                      ...
Abalone diving using Hookah (near calving whales)          1
Diving, gathering shellfish                                1
Chumming for sharks                                        1
Swimming with mask & snorkel                               1
Human head found in shark caught by British ste...         1

[431 rows x 1 columns]

In [104]:
check_activity = pd.DataFrame(new_df["Activity"].value_counts())
check_activity.head(7)

               Activity
Surfing             337
Swimming            185
Spearfishing        172
Fishing             121
Snorkeling           47
Scuba diving         38
Body boarding        34

In [105]:
new_df["Activity"].value_counts()

Surfing                                                      337
Swimming                                                     185
Spearfishing                                                 172
Fishing                                                      121
Snorkeling                                                    47
                                                            ...
Abalone diving using Hookah (near calving whales)              1
Diving, gathering shellfish                                    1
Chumming for sharks                                            1
Swimming with mask & snorkel                                   1
Human head found in shark caught by British steamer Syria      1
Name: Activity, Length: 431, dtype: int64

In [121]:
def group_activity(Activity):
    if "fish" in e:
        return "Fishing"
    
    elif "surf" in e:
        return "Surfing"
    
    elif "swim" in e:
        return "Swimming"
    
    elif "wading" in e or "wade" in e:
        return "Wading"
    
    elif "diving" in e or "dive" in e:
        return "Diving"
    
    elif "stand" in e:
        return "Standing"
    
    elif "board" in e:
        return "Boarding"
    
    elif "bath" in e:
        return "Bathing"
    
    elif "snorkel" in e:
        return "Snorkeling"
    
    else:
        return "Others"

In [122]:
check_activity = pd.DataFrame(new_df["Activity"].value_counts())
check_activity.head(10)

               Activity
Surfing             337
Swimming            185
Spearfishing        172
Fishing             121
Snorkeling           47
Scuba diving         38
Body boarding        34
Diving               34
Wading               21
Kayaking             21

In [123]:
new_df["Activity"].value_counts()

Surfing                                                      337
Swimming                                                     185
Spearfishing                                                 172
Fishing                                                      121
Snorkeling                                                    47
                                                            ...
Abalone diving using Hookah (near calving whales)              1
Diving, gathering shellfish                                    1
Chumming for sharks                                            1
Swimming with mask & snorkel                                   1
Human head found in shark caught by British steamer Syria      1
Name: Activity, Length: 431, dtype: int64

In [124]:
check27=(df_clean_nan["Activity"].value_counts())
print(check27.to_string())

Surfing                                                                                                                                                                                                                                                           961
Swimming                                                                                                                                                                                                                                                          751
Fishing                                                                                                                                                                                                                                                           378
Spearfishing                                                                                                                                                                                                                                                      332
Wading                                                                                                                                                                                                                                                            142
Diving                                                                                                                                                                                                                                                            102
Standing                                                                                                                                                                                                                                                           91
Snorkeling                                                                                                                                                                                                                                                         88
Bathing                                                                                                                                                                                                                                                            75
Scuba diving                                                                                                                                                                                                                                                       75
Body boarding                                                                                                                                                                                                                                                      61
Body surfing                                                                                                                                                                                                                                                       49
Swimming                                                                                                                                                                                                                                                           44
Kayaking                                                                                                                                                                                                                                                           33
Treading water                                                                                                                                                                                                                                                     32
Boogie boarding                                                                                                                                                                                                                                                    29
Free diving                                                                                                                                                                                                                                                        27
Pearl diving                                                                                                                                                                                                                                                       22
Windsurfing                                                                                                                                                                                                                                                        19
Walking                                                                                                                                                                                                                                                            17
Boogie Boarding                                                                                                                                                                                                                                                    16
Shark fishing                                                                                                                                                                                                                                                      14
Floating                                                                                                                                                                                                                                                           14
Fishing                                                                                                                                                                                                                                                            12
Surf fishing                                                                                                                                                                                                                                                       12
Surf-skiing                                                                                                                                                                                                                                                        12
Surf skiing                                                                                                                                                                                                                                                        12
Kayak Fishing                                                                                                                                                                                                                                                      11
Canoeing                                                                                                                                                                                                                                                           10
Rowing                                                                                                                                                                                                                                                             10
Freediving                                                                                                                                                                                                                                                         10
Fishing for sharks                                                                                                                                                                                                                                                 10
Scuba Diving                                                                                                                                                                                                                                                       10
Fell overboard                                                                                                                                                                                                                                                      9
Sitting on surfboard                                                                                                                                                                                                                                                9
Sea disaster                                                                                                                                                                                                                                                        8
Paddle boarding                                                                                                                                                                                                                                                     8
Diving for trochus                                                                                                                                                                                                                                                  8
Playing                                                                                                                                                                                                                                                             7
Surf skiing                                                                                                                                                                                                                                                         7
Diving for abalone                                                                                                                                                                                                                                                  7
Surfing (sitting on his board)                                                                                                                                                                                                                                      7
Free diving for abalone                                                                                                                                                                                                                                             7
Kite Surfing                                                                                                                                                                                                                                                        6
Fishing for mackerel                                                                                                                                                                                                                                                6
Spearfishing on Scuba                                                                                                                                                                                                                                               6
Skindiving                                                                                                                                                                                                                                                          6
Stand-Up Paddleboarding                                                                                                                                                                                                                                             6
Freedom swimming                                                                                                                                                                                                                                                    5
Sailing                                                                                                                                                                                                                                                             5
Boat                                                                                                                                                                                                                                                                5
Kayaking / Fishing                                                                                                                                                                                                                                                  5
Surfing                                                                                                                                                                                                                                                             5
Boating                                                                                                                                                                                                                                                             5
Paddleskiing                                                                                                                                                                                                                                                        5
Kite surfing                                                                                                                                                                                                                                                        5
Sea Disaster                                                                                                                                                                                                                                                        5
Sponge diving                                                                                                                                                                                                                                                       4
Splashing                                                                                                                                                                                                                                                           4
Fishing on a boat                                                                                                                                                                                                                                                   4
Body-boarding                                                                                                                                                                                                                                                       4
Freedom Swimming                                                                                                                                                                                                                                                    4
Shipwreck                                                                                                                                                                                                                                                           4
Murder                                                                                                                                                                                                                                                              4
Paddling on surfboard                                                                                                                                                                                                                                               4
Jumping                                                                                                                                                                                                                                                             4
Jumped into the water                                                                                                                                                                                                                                               4
Lifesaving drill                                                                                                                                                                                                                                                    4
Tagging sharks                                                                                                                                                                                                                                                      4
Spearfishing / free diving                                                                                                                                                                                                                                          4
Scuba diving (submerged)                                                                                                                                                                                                                                            4
Floating on his back                                                                                                                                                                                                                                                4
Wade Fishing                                                                                                                                                                                                                                                        4
Feeding sharks                                                                                                                                                                                                                                                      4
Scuba diving (but on surface)                                                                                                                                                                                                                                       4
Walking out of the water after surfing                                                                                                                                                                                                                              3

In [113]:
new_df

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Species
0,jun,2018,USA,Paddling,F,57,N,White shark
4,jun,2018,MEXICO,Free diving,M,NaN,N,Tiger shark
6,jun,2018,BRAZIL,Swimming,M,18,Y,Tiger shark
7,may,2018,USA,Fishing,M,52,N,Lemon shark
8,may,2018,USA,Walking,M,15,N,Bull shark
...,...,...,...,...,...,...,...,...
5441,dec,1907,AUSTRALIA,Bathing,M,NaN,Y,Bull shark
5458,mar,1907,MALTA,Fishing,M,NaN,Y,White shark
5489,aug,1905,EGYPT,Human head found in shark caught by British st...,M,NaN,NaN,Tiger shark
5524,jan,1903,AUSTRALIA,NaN,M,NaN,Y,Bull shark
5545,jul,1901,SOUTH AFRICA,Swimming,M,29,Y,White shark

In [ ]:
#Surfing, Swimming, Paddle Sports, Scuba Diving, Fishing, Wind Sports, Beach Activities

#for row in df_clean_nan['Activity']:
   
    #if re.search('.*wimm.*', row) or re.search('.*swim.*', row):
        #df_clean_nan["Activity"] = df_clean_nan["Activity"].str.replace(row, "Swimming")
    #if row=='Bathing' or row=='Floating':
       # df_clean_nan["Activity"] = df_clean_nan["Activity"].str.replace(row, "Swimming")
   # if re.search('.*(T|t)reading.*', row):
       # df_clean_nan["Activity"] = df_clean_nan["Activity"].str.replace(row, "Swimming")

In [108]:
new_df.to_csv("./data/new_df.csv", index=False)